@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.placeholder-italic::placeholder {
		font-style: italic;
	}
}

.cfild--input {
	@apply bg-cyellow w-full mt-3 py-3 border-b border-cblack placeholder-cgray-900 placeholder-italic;
}

.cfild--input:focus {
	@apply outline-none border-b-2;
}

body {
	@apply text-cblack;
}

.cnav--ul__li {
	@apply no-underline bg-transparent cursor-pointer opacity-90;
}

.darkMode .cnav--ul__li {
	@apply text-cwhite;
}

.darkMode .--light {
	display: none !important;
}

.lightMode .--dark {
	display: none !important;
}

.cnav--ul__li:focus-within {
	@apply opacity-100 no-underline;
}
.cnav--ul__li:hover {
	@apply opacity-100 underline;
}
.cnav--ul {
	@apply fixed top-0 left-0 z-10 flex-wrap items-center w-full h-full p-0 mt-20 space-y-5 leading-6;
}

.btn--primary,
.btn--segondary {
	@apply transition-all duration-300 ease-in-out rounded-md font-bold  inline-block px-6 py-3 text-sm leading-normal  no-underline align-middle cursor-pointer select-none;
}

.btn--primary__y {
	@apply bg-cyellow text-cblack border-2 border-cyellow;
}
.btn--primary__y:hover {
	@apply bg-white border-2 border-cyellow;
}

.btn--primary__b {
	@apply text-cyellow bg-cblack;
}

.btn--primary:hover {
	@apply underline;
}

.btn--primary:focus-within {
	@apply border-cblack;
}

.btn--segondary__y {
	@apply text-cyellow;
}

.btn--segondary__y:hover {
	@apply text-white underline;
}

.ctitle--h1 {
	@apply box-border mt-0 mb-4 text-2xl font-black;
}

.form--group {
	@apply w-full;
}

.cbox--services {
	@apply transition-all duration-300 ease-in-out p-8 text-center rounded-xl bg-white;
}

.cbox--services:hover {
	@apply bg-cyellow;
}
