<section class="w-full bg-cyellow">
	<div class="max-w-6xl mx-auto px-3 md:px-6 sm:py-24 py-16 space-y-16">
		<div class="sm:grid sm:grid-cols-3">
			<div class="col-span-1">
				<h1 class="ctitle--h1 md:text-3xl lg:text-4xl xl:text-4xl">Nous-contacter</h1>
			</div>
			<div class="col-span-2 w-full sm:flex sm:justify-between">
				<form action="contactUs__submit" method="get" class="w-full sm:flex sm:justify-between space-y-0 sm:space-y-4 sm:space-x-2">
					<div class="form--group">
						<input name="uerEmail" type="email" class="cfild--input" placeholder="Tapez votre adresse mail ici" />
					</div>
					<div>
						<button type="submit" href="#_" class="btn--primary btn--primary__b lg:py-3 lg:px-8 w-full sm:mt-0 mt-4">Suivant</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
